/* Réinitialisation des marges et des paddings */
body,
p,
header
ul,
li {
    margin: 0;
    padding: 0;
}

/* Ajouter le style général à votre page */
body {
    font-family: Arial, sans-serif;
}

#header {
    background-image: url('./background.jpg');
    background-size: cover;
    height: 100vh; /* Utilisez 100vh pour la hauteur de l'écran */
    width: 100%;
    position: relative; /* Ajoutez une position relative */
    z-index: 1;
}

#header .image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ajoutez une position relative */
    z-index: 2;
}

#header h1,
#header h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(245, 236, 236);
    z-index: 3;
}

#header h1 {
    top: 11%;
    font-size: 40px;
}

#header h2 {
    top: 17%;
    font-size: 20px;
}

.menu-toggle {
    float: right;
    cursor: pointer;
}

.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

nav {
    position: absolute;
    bottom: 50px;
    left: 150px;
    width: 70%;
    background-color: rgba(149, 156, 149, 0.5);
    padding: 10px;
    z-index: 2;
}

.search-bar {
    border: 1px solid #1a1919;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.search-bar input,
.search-bar button {
    padding: 8px;
    border: 1px solid #1a1919;
    background-color: transparent;
    color: rgb(26, 25, 25);
    cursor: pointer;
}

.search-bar button {
    background-color: teal;
    color: #000;
}

.vehicle-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.vehicle-item img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.vehicle-details {
    flex: 1;
    text-align: right;
}

.action-buttons button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.action-buttons button.btn-payer {
    background-color: #28a745;
}

.catalogue {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.catalogue img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin: 5px;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

#agences img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 150px;
}

#agences {
    display: flex;
    align-items: center;
}

#agences div {
    text-align: left;
}

#agences figcaption,
#agences p,
#agences h4,
#agences h5,
#agences h6 {
    font-family: Arial, sans-serif;
    margin: 5px 0;
}

#agences figcaption {
    font-size: 24px;
    font-weight: bold;
}

#agences p {
    font-size: 18px;
}

#agences h4,
#agences h5,
#agences h6 {
    font-size: 16px;
}

footer {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 768px) {
    #menu.menu-toggle {
        color: white;
        display: block;
        position: fixed;
        top: 1cm;
        right: 10px;
    }

    .nav-menu {
        right: 0;
        top: 3.5em;
    }
}
